{% extends 'base.html' %}
{% load bootstrap5 %}

{% block content %}
    <h1> Delete Profile</h1>
    <form method="post" action="{% url 'users:delete' slug=user.slug %}">
        {% csrf_token %}
        <div class="card" style="width: 36rem;">
            <div class="card-body">
                <form method="post" action="{% url 'users:delete' slug=user.slug %}" enctype="multipart/form-data">
                    {% csrf_token %}

                    Are you sure you want delete your profile?
                    {% buttons %}
                        <button type="submit" class="btn btn-danger">Yes, Delete</button>
                        <a href="{% url 'index' %}">
                            <input type="button" value="Back" class="btn btn-primary"/></a>

                    {% endbuttons %}
                </form>

{% endblock %}