{% extends "base.html" %}
{% load bootstrap5 %}
{% block content %}
    <div class="content-section">
        <h2>Password Reset Confirm</h2><hr>
        <p>Please enter your new password.</p>
        <form method="POST" action="{% url 'users:password_change' %}">
            {% csrf_token %}
            {% bootstrap_form form show_help=False%}
            <button class="btn btn-outline-info" type="submit">Reset password</button>
            <a href="{% url 'users:details' slug=user.slug%}"><input type="button" value="Back"
                                                class="btn btn-primary"/></a>
        </form>
    </div>
{% endblock %}
