{% extends 'base.html' %}
{% load bootstrap5 %}
{% load custom_filters %}

{% block content %}
    <h1> Registration </h1>

    <div class="card" style="width: 36rem;">
        <div class="card-body">
            <form method="post" action="{% url 'users:sign up' %}">
                {% csrf_token %}
                {% bootstrap_field form.email placeholder="Email" %}
                {% bootstrap_field form.password1 placeholder="Password" show_help=False %}
                {% bootstrap_field form.password2 placeholder="Confirm Password" %}
                {% bootstrap_field form.first_name placeholder="First name" %}
                {% bootstrap_field form.last_name placeholder="Last name" %}
{#                {% bootstrap_label 'Date of Birth' show_label=False %}#}
                {% bootstrap_field form.date_of_birth placeholder="Date of Birth" %}

                {#                <p>{{ form.email|placeholder:'Email' }}</p>#}
                {#                <p>{{ form.password1|placeholder:"Password" }}</p>#}
                {#                <p>{{ form.password2|placeholder:'Confirm Password' }}</p>#}
                {#                <p>{{ form.first_name|placeholder:"First name" }}</p>#}
                {#                <p>{{ form.last_name|placeholder:"Last name" }}</p>#}
                {#                <p>{{ form.date_of_birth|placeholder:"Date of Birth" }}</p>#}

                {% buttons %}
                    <button type="submit" class="btn btn-primary">Sign Up</button>
                {% endbuttons %}
            </form>
        </div>
    </div>

{% endblock %}