{% extends 'base.html' %}
{% load bootstrap5 %}


{% block content %}
    <h1> Registration </h1>

    <div class="card" style="width: 36rem;">
        <div class="card-body">
            <form method="post" action="{% url 'users:sign up' %}">
                {% csrf_token %}
                {% bootstrap_form form show_help=False %}

                {% buttons %}
                    <button type="submit" class="btn btn-primary">Sign Up</button>
                {% endbuttons %}
            </form>
        </div>
    </div>

{% endblock %}