{% extends 'base.html' %}
{% load bootstrap5 %}


{% block content %}
    <h1> Registration </h1>

    <div class="card" style="width: 36rem;">
        <div class="card-body">
            <form method="post" action="{% url 'users:sign up' %}">
                {% csrf_token %}
            {% bootstrap_form form show_help=True %}
{#                {% bootstrap_field form.email %}#}
{#                {% bootstrap_field form.password1  show_help=False %}#}
{#                {% bootstrap_field form.password2  %}#}
{#                {% bootstrap_field form.first_name  %}#}
{#                {% bootstrap_field form.last_name  %}#}
{#                {% bootstrap_label 'Date of Birth' show_label=False %}#}
{#                {% bootstrap_field form.date_of_birth  %}#}

                {#                <p>{{ form.email|placeholder:'Email' }}</p>#}
                {#                <p>{{ form.password1|placeholder:"Password" }}</p>#}
                {#                <p>{{ form.password2|placeholder:'Confirm Password' }}</p>#}
                {#                <p>{{ form.first_name|placeholder:"First name" }}</p>#}
                {#                <p>{{ form.last_name|placeholder:"Last name" }}</p>#}
                {#                <p>{{ form.date_of_birth|placeholder:"Date of Birth" }}</p>#}

                {% buttons %}
                    <button type="submit" class="btn btn-primary">Sign Up</button>
                {% endbuttons %}
            </form>
        </div>
    </div>

{% endblock %}