{% extends 'base.html' %}
{% load cloudinary %}

{% block content %}
    <h1>Book Details</h1>

    <div>


        <h3> by {{ book.author.all|join:", "}}</h3><br>

        {% cloudinary book.image format="jpg" height=226 resize="fill_pad" %}<br>
    Genres: {{ book.genres.all|join:", " }}<br>
    Pages: {{ book.pages }}<br>
    Publisher: {{ book.publisher }}<br>
    Description: {{ book.description|linebreaks }}<br>
    </div>
     {% buttons %}
        <a href="{% url 'books:edit' slug=books.slug %}"><input type="button" value="Edit"
                                                                   class="btn btn-primary"/></a>
        <a href="{% url 'books:delete' slug=books.slug %}"><input type="button" value="Delete"
                                                                     class="btn btn-danger"/></a>
        <a href="{% url 'books:all' %}"><input type="button" value="Back"
                                                 class="btn btn-primary"/></a>
    {% endbuttons %}

{% endblock %}
