{% extends 'base.html' %}
{% load bootstrap5 %}
{% load cloudinary %}

{% block content %}
    <h1>Book Details</h1>

    <div>


        <h3> by {{ book.author.all|join:", " }}</h3><br>
        {% if user.is_staff %}

            <a href="{% url 'books:reader' slug=book.slug %}"><input type="button" value="Check IN/OUT the book"
                                                                     class="btn btn-primary"/></a><br>
            Reader: {{ book.reader }}<br>
        {% endif %}
        Book Status: {{ book.status }}<br>
        {% cloudinary book.image format="jpg" height=226 resize="fill_pad" %}<br>
        Genres: {{ book.genres.all|join:", " }}<br>
        Pages: {{ book.pages }}<br>
        Originally Pubished: {{ book.originally_published }}<br>
        {% if book.series_name %}
            Part of Book Series: <a href="{% url 'series:details' slug=book.series_name.slug %}">{{ book.series_name }}</a><br>
            Book {{ book.volume_number }} of {{ book.series_name.books_in_series }}<br>
        {% endif %}
        Publisher: <a href="{% url 'publishers:details' slug=book.publisher.slug %}">{{ book.publisher }}</a><br>
        Description: {{ book.description|linebreaks }}<br>


    </div>
    {% buttons %}
        {% if user.is_staff %}

            <a href="{% url 'books:edit' slug=book.slug %}"><input type="button" value="Edit"
                                                                   class="btn btn-primary"/></a>
            <a href="{% url 'books:delete' slug=book.slug %}"><input type="button" value="Delete"
                                                                     class="btn btn-danger"/></a>
        {% endif %}
        <a href="{% url 'books:all' %}"><input type="button" value="Back"
                                               class="btn btn-primary"/></a>
    {% endbuttons %}

{% endblock %}
