{% extends 'base.html' %}
{% load cloudinary %}
{% block content %}

    {% for book in object_list %}
        <div>
            <h2>{{ book.title }}</h2><br>
            {% cloudinary book.image format="jpg" height=226 resize="fill_pad" %}<br>
            {% for author in book.author.all %}
                <a href="{% url 'authors:details' slug=author.slug %}"> {{ author.full_name }}</a> &nbsp;
            {% endfor %}
            {#            <h4>{{ book.author.all|join:", "  }}</h4>#}
            <br><br>
        </div>
    {% endfor %}



{% endblock %}