{% extends 'base.html' %}
{% load bootstrap5 %}
{% load cloudinary %}
{% block content %}
    <h1>Book Series Details</h1>

    <div>

        <p>
        <h3>{{ bookseries.name }}</h3>
        {% cloudinary bookseries.image format="jpg" height=226 resize="fill_pad" %}<br>
        {{ bookseries.author.all|join:", " }}<br><br>

        Include {{ bookseries.books_in_series }} books:
        {% for book in bookseries.book_series.all %}
            <li><a href="{% url 'books:details' slug=book.slug %}"> {{ book.title }} ({{ book.volume_number }})</a></li>

        {% endfor %}<br><br>
        Description: {{ bookseries.description|linebreaks }}
    </div>

    {% buttons %}
        {% if user.is_staff %}

            <a href="{% url 'series:edit' slug=bookseries.slug %}"><input type="button" value="Edit"
                                                                          class="btn btn-primary"/></a>
            <a href="{% url 'series:delete' slug=bookseries.slug %}"><input type="button" value="Delete"
                                                                            class="btn btn-danger"/></a>
        {% endif %}
        <a href="{% url 'series:all' %}"><input type="button" value="Back"
                                                class="btn btn-primary"/></a>
    {% endbuttons %}
{% endblock %}