{% extends 'base.html' %}
{% load bootstrap5 %}

{% block content %}
    <h1> Edit Profile</h1>
    <form method="post" action="{% url 'authors:edit' slug=author.slug %}">
        {% csrf_token %}
        <div class="card" style="width: 36rem;">
            <div class="card-body">
                <form method="post" action="{% url 'authors:edit' slug=author.slug %}" enctype="multipart/form-data">
                    {% csrf_token %}

                    {% bootstrap_form form %}
                    {% buttons %}
                        <button type="submit" class="btn btn-primary">Edit</button>
                        <a href="{% url 'authors:details' slug=author.slug %}"><input type="button" value="Back" class="btn btn-primary" /></a>

                    {% endbuttons %}
                </form>

{% endblock %}