{% extends 'base.html' %}
{% load bootstrap5 %}
{% load cloudinary %}

{% block content %}
    <h1>Genre Details</h1><br>

    <div>

        <h4>Genre: <strong>{{ genre.type }}</strong></h4><br>
        <strong>What to expect?</strong><br>
        {{ genre.description|linebreaks }}<br>

        {% for book in genre.book_genre.all %}
        <ul>
        <li><a href="{% url 'books:details' slug=book.slug %}">{{ book.title }} - {{ book.author.all|join:", " }}</a></li><br>
        </ul>{% empty %}
            No books from this Publisher yet.<br><br>
    {% endfor %}

    </div>
    {% buttons %}
        {% if user.is_staff %}

            <a href="{% url 'genres:edit' slug=genre.slug %}"><input type="button" value="Edit"
                                                                    class="btn btn-primary"/></a>
            <a href="{% url 'genres:delete' slug=genre.slug %}"><input type="button" value="Delete"
                                                                      class="btn btn-danger"/></a>
        {% endif %}
        <a href="{% url 'genres:all' %}"><input type="button" value="Back"
                                               class="btn btn-primary"/></a>
    {% endbuttons %}

{% endblock %}
