{% extends 'base.html' %}
{% load bootstrap5 %}

{% block content %}
    <h1> Delete Publisher </h1>
    <form method="post" action="{% url 'publishers:delete' slug=publisher.slug %}">
        {% csrf_token %}
        <div class="card" style="width: 36rem;">
            <div class="card-body">
                <form method="post" action="{% url 'publishers:delete' slug=publisher.slug %}"
                      enctype="multipart/form-data">
                    {% csrf_token %}

                    Are you sure you want to delete {{ publisher.name }}?
                    {% buttons %}
                        <button type="submit" class="btn btn-danger">Yes, Delete</button>
                        <a href="{% url 'publishers:all' %}">
                            <input type="button" value="Back" class="btn btn-primary"/></a>

                    {% endbuttons %}
                </form>

{% endblock %}